$white-400: #e5f0f0;
$black-400: #202117;
$gold-300: #e4dbcc;
$gold-400: #936d33;
// color naming based on relative shades & tints.
// Very useful for medium sized design systems that utilize a primary color and its variants.
